<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/cssbase")
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">EventStreamR</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                        <li><a href="@Url.Action("Index", "Events")">Events</a></li>
                        <li><a href="@Url.Action("Index", "Analytics")">Analytics</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        @Html.Partial("_alerts")
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/sitebase")
    @RenderSection("Scripts", required: false)
</body>
</html>

